.categories {
    overflow: scroll;
    display: flex;
    align-items: start;
    gap: 50px;
    margin-bottom: 50px;

    @media (max-width: 800px) {
        gap: 20px;
        justify-content: center;
    }

    @media screen and (max-width: 500px) {
        justify-content: start;
        gap: 10px;
    }



    &__item {
        background: $color-categories;
        border-radius: 50px;
        padding: 10px 20px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
            background: $color-categories-hover;
            transform: scale(1.1);
        }

    }
}